$mobile: 600px

*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

html, body
  width: 100%
  height: 100%

.flexbox-parent
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  /* align items in Main Axis
  align-items: stretch
  /* align items in Cross Axis
  align-content: stretch
  /* Extra space in Cross Axis
  background: rgba(255, 255, 255, 0.1)

.flexbox-item-grow
  flex: 1
  /* flex: 1 1 auto;

.fill-area
  display: flex
  flex-direction: row
  justify-content: flex-start
  /* align items in Main Axis
  align-items: stretch
  /* align items in Cross Axis
  align-content: stretch
  /* Extra space in Cross Axis

.fill-area-content
  /* Needed for when the area gets squished too far and there is content that can't be displayed
  overflow: auto

.nav-container
  display: flex
  @media screen and (max-width: $mobile)
    flex-direction: column

.item
  flex: 1
